@use "../abstracts" as abs;

.button {
  padding: abs.$space-xs abs.$space-xs;
  border: none;
  border-radius: 0.25rem;
  font-size: abs.$font-step--1;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &.-primary {
    background-color: abs.$accent-color-0;
    color: abs.$neutral-dark-color--1;
    // box-shadow: 0px 4px 30px -5px transparent;
    box-shadow: 0px 0px 35px -10px abs.$accent-color-0;

    // font-weight: bold;

    &:hover {
      transform: translate(-3%, -3%);
      box-shadow: 0px 0px 35px -5px abs.$accent-color-0;
    }
  }

  &.-secondary {
    background: abs.$neutral-light-color-0;
    color: abs.$neutral-dark-color-0;

    &.-border {
      background: transparent;
      border: 0.1rem solid abs.$neutral-light-color-0;
      color: abs.$neutral-light-color-0;
      font-weight: normal;

      &:hover {
        background: abs.$neutral-light-color-0;
        color: abs.$neutral-dark-color-0;
      }
    }

    &:hover {
      transform: translate(-3%, -3%);
      box-shadow: 0px 0px 35px -10px abs.$neutral-light-color-0;
    }
  }
}
