@use "../abstracts" as *;

.button {
  padding: $space-xs $space-xs;
  border: none;
  border-radius: $bradius-0;
  font-size: $font-step--1;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: $neutral-dark-color--1;

  &__icon {
    vertical-align: middle;
    margin-left: $space-3xs;
  }

  &.-primary {
    background-color: $accent-color-0;
    // box-shadow: 0px 4px 30px -5px transparent;
    box-shadow: 0px 0px 35px -10px $accent-color-0;

    // font-weight: bold;

    &:hover {
      transform: translate(-3%, -3%);
      box-shadow: 0px 0px 35px -5px $accent-color-0;
    }
  }

  &.-secondary {
    background: $neutral-light-color-0;

    &.-border {
      background: transparent;
      border: 0.1rem solid $neutral-light-color-0;
      color: $neutral-light-color-0;
      font-weight: normal;

      &:hover {
        background: $neutral-light-color-0;
        color: $neutral-dark-color-0;
      }
    }

    &:hover {
      transform: translate(-3%, -3%);
      box-shadow: 0px 0px 35px -10px $neutral-light-color-0;
    }
  }

  &.-success {
    background: $success-color;

    &:hover {
      transform: translate(-3%, -3%);
      box-shadow: 0px 0px 35px -10px $success-color;
    }
  }
  &.-error {
    background: $error-color;
    color: $neutral-light-color-0;

    &:hover {
      transform: translate(-3%, -3%);
      box-shadow: 0px 0px 35px -10px $error-color;
    }
  }
  &.-alert {
    background: $alert-color;
  }
}
