// Accent Color and Its shades/tints
$accent-color--2: #c52700;
$accent-color--1: #ff3908;
$accent-color-0: #ff6e4a;
$accent-color-1: #ff8b6e;
$accent-color-2: #ffa892;
$accent-color-3: #ffc5b7;
$accent-color-3: #ffe2db;

// Primary Color and Its shades/tints
$primary-color--2: #0a1f1b;
$primary-color--1: #0e2e28;
$primary-color-0: #184d43;
$primary-color-1: #2b8b79;
$primary-color-2: #44c5ac;
$primary-color-3: #82d8c8;
$primary-color-3: #c1ece3;

// Neutral Dark Color and Its shades/tints
$neutral-dark-color--1: #0c0c0c;
$neutral-dark-color-0: #151515;
$neutral-dark-color-1: #444444;
$neutral-dark-color-2: #737373;
$neutral-dark-color-3: #a1a1a1;
$neutral-dark-color-3: #d0d0d0;

// Neutral Light Color and Its shades/tints
$neutral-light-color-0: #f2f2f2;
$neutral-light-color-1: #444444;
$neutral-light-color-2: #737373;
$neutral-light-color-3: #a1a1a1;
$neutral-light-color-4: #d0d0d0;

// Assistive Colors
$success-color: #00a878;
$alert-color: #f2bb05;
$error-color: #93032e;

// gradients
$gradient-1: linear-gradient(
  250.75deg,
  rgba(40, 129, 112, 0.2) 0%,
  rgba(32, 103, 90, 0.2) 100%
);
