@use "./variables" as vars;

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

h1 {
  font-size: vars.$font-step-5;
}
h2 {
  font-size: vars.$font-step-4;
}
h3 {
  font-size: vars.$font-step-3;
}
h4 {
  font-size: vars.$font-step-2;
}
h5 {
  font-size: vars.$font-step-1;
}
h6 {
  font-size: vars.$font-step-0;
}

p {
  font-size: vars.$font-step-0;
  line-height: 140%;
}
