@use "../abstracts" as abs;

.navbar {
  display: flex;
  padding: abs.$space-s abs.$space-s;

  &__navLinks {
    display: flex;
    // flex: 1;
  }

  &__link {
    font-size: abstracts.$font-step--1;
    color: abstracts.$neutral-light-color-0;
    text-decoration: none;
  }

  &__logo {
    height: 5vh;
    object-fit: contain;
    object-position: center;
  }
}
